## Data unzip

In [6]:
from zipfile import ZipFile
from pathlib import Path

In [8]:
with ZipFile('project_dataset.zip') as zipped_file:
    zipped_file.extractall(Path.cwd()/'data')

## Data import

In [17]:
import pandas as pd
import numpy as np

In [11]:
df_dev = pd.read_csv(Path.cwd()/'data'/'DSL2122_january_dataset'/'development.csv')

### Dataset analysis

In [12]:
df_dev.head()

,sentiment,ids,date,flag,user,text
0,1,1833972543,Mon May 18 01:08:27 PDT 2009,NO_QUERY,Killandra,"@MissBianca76 Yes, talking helps a lot.. going..."
1,1,1980318193,Sun May 31 06:23:17 PDT 2009,NO_QUERY,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...
2,1,1994409198,Mon Jun 01 11:52:54 PDT 2009,NO_QUERY,yaseminx3,@PleaseBeMine Something for your iphone
3,0,1824749377,Sun May 17 02:45:34 PDT 2009,NO_QUERY,no_surprises,@GabrielSaporta couldn't get in to the after p...
4,0,2001199113,Tue Jun 02 00:08:07 PDT 2009,NO_QUERY,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...

In [13]:
df_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224994 entries, 0 to 224993
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sentiment  224994 non-null  int64
 1   ids        224994 non-null  int64
 2   date       224994 non-null  object
 3   flag       224994 non-null  object
 4   user       224994 non-null  object
 5   text       224994 non-null  object
dtypes: int64(2), object(4)
memory usage: 10.3+ MB

In [14]:
df_dev.notna().any()

sentiment    True
ids          True
date         True
flag         True
user         True
text         True
dtype: bool

There are no empty cells

In [16]:
np.sum(df_dev['sentiment'].value_counts().values)

array([130157,  94837], dtype=int64)

There are more comments classified as positive than as negative